![Alt Text](logo.png)

### <center>Wydział Matematyki i Nauk Informacyjnych </center>

## <center>Słowik Jadwiga i Sudra Sebastian</center>

# <center>Warsaw - Transport</center>

## 1. Zbieranie danych

## 2. Ruch pojazdow komunikacji w sobotę

### 2.1 Prędkości pojazdów komunikacji miejskiej

#### 2.1.1 Warszawa ścisłe centrum i reszta

<center>Prędkość średnia w Warszawie</center>

![Alt Text](plots/2_1_1a.png)

<center>Prędkość średnia w Warszawie, ścisłe centrum</center>

![Alt Text](myCentrum.bmp)

![Alt Text](plots/2_1_1b.png)

<center>Prędkość średnia w Warszawie, poza centrum</center>

![Alt Text](plots/2_1_1c.png)

<center>Przedstawienie prędkości dla każdej linii</center>

In [1]:
from script import createTable

createTable()

                Avg        Max
ex        31.889168  68.551581
L18       30.247735  56.749684
N50       28.355534  64.565810
720       27.901363  68.989445
800       27.488971  64.311236
743       27.481762  64.562650
733       27.140929  74.774027
N58       27.065617  62.153049
n50       26.895931  69.235925
734       26.728035  75.441655
735       25.255074  76.109547
L29       25.219980  65.335295
705       25.173079  85.638606
L25       24.994717  69.647142
N03       24.822291  77.670163
742       24.812982  78.408805
N22       24.776700  97.926858
173       24.726084  40.093916
730       24.681231  59.768226
411       24.501679  31.039068
703       24.195847  66.068622
N24       24.059581  49.094348
N14       23.561410  74.192477
345       23.403253  50.935896
L20       23.208762  79.455982
N13       23.189653  76.442329
725       23.184597  95.858674
N63       23.116978  76.947827
736       22.921742  70.973856
722       22.809098  70.055622
...             ...        ...
4         12.108236  75.372806
155       11.919106  59.295544
205       11.776197  83.804422
208       11.634880  45.667901
206       11.530635  37.772951
222       11.514561  52.811363
203       11.512322  85.227251
193       11.386433  79.669744
262       11.248776  64.441967
175       11.102055  73.979950
245       11.074667  50.765414
14        11.040743  45.598779
27        10.891440  48.708454
165       10.680362  63.213649
256       10.593544  56.666622
128       10.530922  84.580119
212       10.442159  36.364305
Z-1       10.342811  87.511281
L-5        9.959159  96.514220
201        8.425989  88.574843
221        8.395156  54.623008
REZ/C93B   7.731111  40.822293
Z          7.230706  71.375938
31         5.993518  51.385098
L-2        5.919930  92.728982
900        5.062326  42.103211
904        4.846211  47.989568
REZ/C93    3.087798  94.579491
903        2.047381  31.730509
401        0.217779  10.534000

[261 rows x 2 columns]

#### 2.1.2 Przykładowe dzielnice

<center>Wola</center>

![Alt Text](plots/2_1_2a.png)

<center>Mokotów</center>

![Alt Text](plots/2_1_2b.png)

<center>Ursynów</center>

![Alt Text](plots/2_1_2c.png)

<center>Białołęka</center>

![Alt Text](plots/2_1_2d.png)

<center>Porównanie autobusów</center>

![Alt Text](plots/2_1_2e.png)

<center>Porównanie tramwajów</center>

![Alt Text](plots/2_1_2f.png)

## 2.2 Zagęszczenie pojazdów komunikacji miejskiej

### 2.2.1 Warszawa ścisłe centrum i reszta

<center>Zagęszczenie w Warszawie</center>

![Alt Text](plots/2_2_1a.png)

<center>Zagęszczenie w Warszawie, ścisłe centrum</center>

![Alt Text](plots/2_2_1b.png)

<center>Zagęszczenie w Warszawie, poza centrum</center>

![Alt Text](plots/2_2_1c.png)

### 2.2.2 Przykładowe dzielnice

<center>Wola</center>

![Alt Text](plots/2_2_2a.png)

<center>Mokotów</center>

![Alt Text](plots/2_2_2b.png)

<center>Ursynów</center>

![Alt Text](plots/2_2_2c.png)

<center>Białołęka</center>

![Alt Text](plots/2_2_2d.png)

<center>Porównanie autobusów</center>

![Alt Text](plots/2_2_2e.png)

<center>Porównanie tramwajów</center>

![Alt Text](plots/2_2_2f.png)

## 3. Ruch pojazdow komunikacji w poniedziałek

### 3.1 Prędkości pojazdów komunikacji miejskiej

<center>Prędkość średnia w Warszawie</center>

![Alt Text](plots/3_1a.png)

<center>Prędkość średnia w Warszawie, ścisłe centrum</center>

![Alt Text](plots/3_1b.png)

<center>Prędkość średnia w Warszawie, poza centrum</center>

![Alt Text](plots/3_1c.png)

### 3.2 Porównanie prędkości pojazdów komunikacji miejskiej ze soboty i poniedziałku

### 3.2.1 Porównanie autobusów

<center>Prędkość średnia w Warszawie</center>

![Alt Text](plots/3_2_1a.png)

<center>Prędkość średnia w Warszawie, ścisłe centrum</center>

![Alt Text](plots/3_2_1b.png)

<center>Prędkość średnia w Warszawie, poza centrum</center>

![Alt Text](plots/3_2_1c.png)

### 3.2.1 Porównanie tramwajów

<center>Prędkość średnia w Warszawie</center>

![Alt Text](plots/3_2_2a.png)

<center>Prędkość średnia w Warszawie, poza centrum</center>

![Alt Text](plots/3_2_2b.png)

<center>Prędkość średnia w Warszawie, poza centrum</center>

![Alt Text](plots/3_2_2c.png)

# 4. Kształty wybranych linii autobusowych i tramwajowych

* Linia 162 (poniedziałek):

![Alt Text](162_poniedzialek.png)

* Linia 162 (sobota)

![Alt Text](162_sobota.png)

* Linia 27 (poniedziałek)

![Alt Text](27_poniedzialek.png)

* Linia 27 (sobota)

![Alt Text](27_sobota.png)

## 4.1 Ciekawe wzory tras

*  Linia numer 1 (trasa poniedziałkowa)

![Alt Text](maps_creators/chosen_routes/1_poniedzialek.png)

* Linia numer 207 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/207_sobota.png)

* Linia numer 218 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/218_sobota.png)

* Linia 23 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/23_sobota.png)

* Linia 509 (trasa poniedziałkowa)

![Alt Text](maps_creators/chosen_routes/509_poniedzialek.png)

* Linia 517 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/517_sobota.png)

* Linia numer 716 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/716_sobota.png)

* Linia 155 (trasa sobotnia)

![Alt Text](maps_creators/chosen_routes/155_sobota.png)

* Linia numer 154 (trasa poniedziałkowa)

![Alt Text](maps_creators/chosen_routes/154_poniedzialek.png)

# 5. Inne mapy wygenerowane na podstawie pobranych danych

Oprócz "statycznych map" zaprezentowanych w poprzednim punkcie, stworzyliśmy również dwa skrypty:

* `online_image_creator.py` - pobiera dane z API co 10 sekund i wyświetla na mapie aktualne położenie tramwajów i autobusów

* `animated_image_creator.py` - dla danej bazy danych (położenie autobusów i tramwajów w ciągu całego dnia) generuje przyspieszoną symulację ruchu

# 6. Najliczniejsze linie dla każdej godziny

In [25]:
import find_most_frequent_lines_per_hour as ff

In [20]:
import pandas as pd

* Dla danych sobotnich (autobusy):

In [19]:
df_autobusy_sobota = pd.read_csv("csv_datasets/autobusySobota.csv")

In [28]:
ff.get_most_frequent_lines_per_hour(df_autobusy_sobota)

    hour mostFrequentLine  uniqueBrigades
0      0                Z               8
1      1              N01               6
2      2              N02               6
3      3              N01               6
4      4              105               7
5      5              116              10
6      6              112              14
7      7              116              16
8      8              116              16
9      9              116              16
10    10              116              16
11    11              116              16
12    12              116              16
13    13              116              16
14    14              116              16
15    15              116              16
16    16              116              16
17    17              116              16
18    18              116              16
19    19              116              16
20    20              116              16
21    21              112              14
22    22              509              13
23    23              509              11

* Dla danych sobotnich (tramwaje)

In [30]:
df_tramwaje_sobota = pd.read_csv("csv_datasets/tramwajeSobota.csv")

In [31]:
ff.get_most_frequent_lines_per_hour(df_tramwaje_sobota)

    hour  mostFrequentLine  uniqueBrigades
0      0                 9              22
1      1                 9              11
2      3                 9               2
3      4                 9              12
4      5                 9              12
5      6                 9              15
6      7                 9              16
7      8                 9              16
8      9                 9              16
9     10                 9              16
10    11                 9              16
11    12                 9              16
12    13                 9              16
13    14                 9              16
14    15                 9              16
15    16                 9              16
16    17                 9              16
17    18                 9              16
18    19                 9              16
19    20                 9              16
20    21                 9              13
21    22                 9              13
22    23                 9              13

* Dla danych poniedziałkowych (autobusy)

In [34]:
df_autobusy_poniedzialek = pd.read_csv("csv_datasets/autobusyPoniedzialek.csv", low_memory=False)

In [35]:
ff.get_most_frequent_lines_per_hour(df_autobusy_poniedzialek)

    hour mostFrequentLine  uniqueBrigades
0      0              105               6
1      1              N01               6
2      2              N01               6
3      3              N01               6
4      4              136              12
5      5              509              26
6      6              509              28
7      7              509              28
8      8              105              27
9      9              105              26
10    10              105              23
11    11              105              18
12    12              190              19
13    13              190              23
14    14              105              27
15    15              105              27
16    16              105              27
17    17              105              27
18    18              105              27
19    19              105              21
20    20              190              18
21    21              116              17
22    22              116              14
23    23              112              12

* Dla danych poniedziałkowych (tramwaje)

In [36]:
df_tramwaje_poniedzialek = pd.read_csv("csv_datasets/tramwajePoniedzialek.csv", low_memory=False)

In [37]:
ff.get_most_frequent_lines_per_hour(df_tramwaje_poniedzialek)

    hour  mostFrequentLine  uniqueBrigades
0      0                 9              19
1      1                 9              10
2      3                 9               4
3      4                 9              13
4      5                 9              20
5      6                 9              30
6      7                 9              30
7      8                 9              30
8      9                 9              30
9     10                 9              26
10    11                 9              22
11    12                 9              23
12    13                 9              29
13    14                 9              31
14    15                 9              30
15    16                 9              31
16    17                 9              31
17    18                 9              30
18    19                 9              26
19    20                 9              19
20    21                 9              16
21    22                 9              11
22    23                 9              11